# prefs is a dict of generator functions
# the part of the request before the underscore (bmo in the case of bmo_123456) will be the key
# if you need to modify the args as they come in you can write a decorator here

import generators

prefs = {
   "bmo": generators.bmo,
   "gel": generators.gelbooru,
   "rh": generators.redhat_sources_bz,
   "twitter": generators.twitter_noreply,
   "blogspot": generators.blogspot,
   "hn": generators.hackernews_comments,
   "webkit": generators.webkit
}

# if your feeds complain about updating this value you need to look at the changelog to find out what to update
version = 3
