# prefs is a dict of functions
# The key is the value of "gen" in the query string.
# The function can just be a direct call to one of the generators in generators.py.
# If you need to configure things further you can write a function here.  See dgilman_twitter for an example.


import generators

def twitter_use_oauth(arg):
   """Example of a custom function.  By default the twitter_context generator doesn't use OAuth.  If you've configured OAuth using get_twitter_tokens.py you can use this function to make your twitter_context feeds use OAuth which features a higher API limit and the ability to see your friends' private feeds."""
   arg["oauth"] = True
   arg["token_name"] = "dgilman"
   return generators.twitter_context(arg)

def twitter_mentions(arg):
   """If mentions is true the feed contains a list of the @replies at the authenticated user"""
   arg["oauth"] = True
   arg["mentions"] = True
   arg["token_name"] = "dgilman"
   return generators.twitter_context(arg)

prefs = {
   "bmo": generators.bmo,
   "gel": generators.gelbooru,
   "rh": generators.redhat_sources_bz,
   "twitter": generators.twitter_noreply,
   "blogspot": generators.blogspot,
   "hn": generators.hackernews_comments,
   "webkit": generators.webkit,
   "twitcontext": generators.twitter_context,
   "twitcontextauth": twitter_use_oauth,
   "twitmentions": twitter_mentions
}

# if your feeds complain about updating this value you need to look at the changelog to find out what to change
version = 4
